.linHeader{
    background:red;
    width: 750px;
    height: 88px;
    display: flex;
    justify-content: space-between;
}
.headerLocation{
    padding: 50px;
}
.banner{
    width: 100%;
    height: 282px;
    background: #000;
}
.bannerContent{
    background: green;
    width: 690px;
    height: 280px;
    margin: 0 auto;

}