.big{
    height:100%;
    width: 100%;
    background:#ffb;
    display: flex;
    flex-direction: column;
}
header{
    height:88px;
    width: 100%;
    background: skyblue;
    box-sizing: border-box;
    padding:0 30px;
}
header .search{
    float: left;
    height: 60px;
    line-height: 60px;
    width:604px;
    background:#f5f5f5;
    box-sizing: border-box;
    padding: 0 17px 0 28px;
    border-radius: 50px;
    border:2px solid #ebebeb;
    margin-top:14px;
}
header .search input{
    height:40px;
    width:470px;
    border:none;
    outline: none;
    background:#f5f5f5;
}
header .search img{
    margin-top:10px;
    float: left;
}
header .search input::-webkit-input-placeholder{
    color: #232323;
    font-size: 32px;
}
header .btn{
    border:none;
    outline: none;
    background: #fff;
    float: right;
    font-size: 28px;
    margin-top:22px;
    color: #666;
}
main{
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}
main .small{
    width: 339px;
    height:774px;
    background:orchid;
    margin:15px;
    border-radius: 10px;
}
/* header .search{
    width:602px;
    height:60px;
    background:salmon;
    outline: none;
    border:none;
    float: left;
    margin-top:14px;
    border-radius: 50px;
    padding: 0 17px 0 28px;
    font-size: 30px;
}
header .btn{
    float: right;
    outline: none;
    border: none;
    background:#fff;
    color: #666;
    font-size:35px;
    margin-top:20px
} */