.big{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background:#f5f5f5;
}
.head{
    height:88px;
    width: 100%;
    box-sizing: border-box;
    padding:0 30px;
    background:#fff;
}
.head .search{
    float: left;
    height: 60px;
    line-height: 60px;
    width:604px;
    background:#f5f5f5;
    box-sizing: border-box;
    padding: 0 17px 0 28px;
    border-radius: 50px;
    border:2px solid #ebebeb;
    margin-top:14px;
}
.head .search input{
    height:40px;
    width:470px;
    border:none;
    outline: none;
    background:#f5f5f5;
}
.head .search img{
    margin-top:10px;
    float: left;
}
.head .search input::-webkit-input-placeholder{
    color: #232323;
    font-size: 32px;
}
.head .btn{
    border:none;
    outline: none;
    background: #fff;
    float: right;
    font-size: 28px;
    margin-top:22px;
    color: #666;
}
.mai{
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}
.mai .small{
    width: 339px;
    height:774px;
    margin:15px;
    border-radius: 10px;
    position: relative;
}
.mai .small .city{
    position: absolute;
    right:10px;
    top:10px;
    display: flex;
    background:rgba(38,38,38,.8);
    font-size: 900;
    color:#fefefe;
    width:48px;
    height:36px;
    padding:0 9px;
    line-height: 36px;
    font-size: 24px;
}
.mai .small .bottom{
    width:294px;
    height:256px;
    /* background:salmon; */
    padding:16px 22px 22px;
}
.mai .small .bottom .one{
    overflow: hidden;
    line-height:38px;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width:100%;
    height:72px;
    color: #232323;
    font-size: 24px;
    position: relative;
}
.mai .small .bottom img{
    position: absolute;
    bottom:256px;
    left: 12px;
}
.mai .small .bottom span{
    color: #666;
    display: inline-block;
    height:60px;
    line-height: 60px;
}
.mai .small .bottom div{
    color: #999;
    font-size: 24px;
}
.mai .small .bottom div .price{
    font-size: 32px;
    color: #FF6743;
    margin-right: 6px;
}
.mai .small .bottom a{
    display: inline-block;
    font-size: 24px;
    color: #ff6743;
    margin:20px 10px 0 0;
}
.mai .more{
    margin:0 300px;
    color: #dded;
    font-size: 24px;
    line-height: 20px;
}
