/* html{
    font-size:31.25vw;
    height: 100%;
} */
/* .big{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.big header{
    width: 100%;
    height:86px;
    background:pink;
} */
/* .big main{ */
    /* width: 60px; */
    /* flex: 1; */
    /* background:skyblue;
    height:auto;
} */
/* .big main ul{
    width:690px;
    background:seashell;
    margin :0 auto;
    overflow:scroll;
}
.big main ul li{
    height:566px;
    width:100%;
    margin-bottom:30px;
} */
/* .big footer{
    width: 100%;
    background:bisque;
    height: 98px;
} */


.big{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.big header{
    height:86px;
    width: 100%;
    font-size: 38px;
    line-height: 86px;
    color:#232323;
    border-bottom:2px solid #f2f2f2;
    margin-bottom:18px;
    text-align: center;
}
.big main{
    /* height:1136px; */
    width: 100%;
    /* background:hotpink; */
    overflow-y: scroll;
    flex: 1;
}
.big main ul{
    width:690px;
    margin :0 auto;
    overflow:scroll;
}
.big main ul li{
    margin-bottom: 20px;
    height:566px;
    width:100%;
    position: relative;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
}
.big main ul li .top{
    height:100px;
    width: 620px;
    margin-bottom:20px;
    position: absolute;
    top:30px;
    left:26px;
}
.big main ul li .top .one{
    float: left;
}
.big main ul li .top span:nth-of-type(1){
    position: absolute;
    top:20px;
    left: 114px;
    font-size: 24px;
    font-weight: 900;
    color: #232323;
}
.big main ul li .top span:nth-of-type(2){
    font-size: 20px;
    color: #666;
    position: absolute;
    top:60px;
    left: 114px;
}
.big main ul li .top .two{
    float: right;
}
.big main ul li .bottom{
    height:384px;
    width:620px;
    background:blanchedalmond;
    position: absolute;
    bottom: 30px;
    left:26px;
    overflow-x: auto;
}
.big main ul li .bottom .boxx{
    white-space: nowrap;
    /* width: 100%; */
    height: 100%;
}
.big main ul li .bottom .boxx .small{
    width:228px;
    height:100%;
    display: inline-block;
    overflow: hidden;
}
.big main ul li .bottom .boxx .small .one{
    height:54px;
    line-height: 54px;
    text-align: center;
    border-bottom:4px solid #ccc;
    position: relative;
    color: #ccc;
}
.big main ul li .bottom .boxx .small .two{
    margin-top:28px
}
.big main ul li .bottom .boxx .small .one span{
    position: absolute;
    top: 48px;
    left: 100px;
    height:14px;
    width: 14px;
    background:#ccc;
    border-radius: 50px;
}
.big footer{
    height:92px;
    background:cyan;
    width: 100%;
}